@"
# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints
.env
*.env

# Virtual environment
myenv/

# Jupyter Notebooks
.ipynb_checkpoints/

# Ignore data files
Notebooks/Task2/*.pkl
Notebooks/Task3/*.pkl
Notebooks/Task3/*.npy
Notebooks/Task3/*.txt

# BUT track DVC metadata files
!Notebooks/Task2/*.dvc
!Notebooks/Task3/*.dvc

# Keep notebooks in Git
!Notebooks/Task2/model_training.ipynb
!Notebooks/Task3/model_explain.ipynb