# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints
.env
*.env

# Data
data/raw/
data/clean/
outputs/
data/
Notebooks/*.csv
Notebooks/*.npy
Notebooks/*.pkl
Notebooks/*.txt

/data/
/models/
/*.pkl
/*.npy

*.npy
*.pkl
*.csv

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual environment
myenv/



